# IDEs
/.idea
/.vscode

# Environment
.env
.env.*.backup

# Composer
/vendor
/composer.lock

# Node
/node_modules
/public/build

# Laravel storage & cache
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

# Laravel bootstrap cache
/bootstrap/cache/*

# Ignore OS files
.DS_Store
Thumbs.db

# Optional: exclude test files in vendor (can help with huge repos)
vendor/*/tests/
